<h1>Coaching#ask</h1>
<p>Find me in app/views/coaching/ask.html.erb</p>

<h3>What is your question?</h3>
<form action="/answer" method="get">
  <input type="text" name="query">
  <input type="submit">
</form>

